
.pageName{
    display: block;
float: inline-start;
        background-color: #ddd;
            color: black;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
}
.navbar {
    display: block;
}
.navLink {
    float: inline-start;
    padding : 10px;
    transition : 0.2s;
}

.logo{
    margin: 20px;
}

.navbar a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;}

    .navbar a:hover{
        background-color: #ddd;
            color: black;
    }

.enTete{

            background-color: #281f5e;
overflow: hidden;
}

h1{
    margin: 5px;
}

.lorem{
    margin: 30px;
}

.corps{
    background-color: #3b3946;
        position: fixed;
            width: 100%;
            height: 100%;
}