.pageName {
	display: block;
	float: inline-start;
	background-color: #ddd;
	color: black;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navigation_bar {
	display: block;
}

.navLink {
	float: inline-start;
	padding: 10px;
	transition: 0.2s;
}

.logo {
	margin: 20px;
}

.navigation_bar a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.navigation_bar a:hover {
	background-color: #ddd;
	color: black;
}

.enTete {

	background-color: #281f5e;
	overflow: hidden;
}

h1 {
	margin: 5px;
}

.lorem {
	margin: 30px;
}

.corps {
	background-color: #3b3946;

	width: 100%;
	height: 100%;
}

.poster {
	height:100%;
	width:100%;
	transition: 0.25s;
}

.posterInfo{
	height:120%;
	width:100%;
}

.poster:hover {
	transform: scale(1.3);
	transition: 0.25s;
	cursor: grab;
	border-style: solid;
	border-color: rgb(0, 206, 154);
	border-width: 10px;
	border-radius: 10%;
}
.movies {
	display: inline-flex;
	flex-flow: wrap;
	padding-left: 35px;
}

.movie {
	margin: 10px;
	display: grid;
	width: 233px;
	margin-top: 4em;
}



.titre {
	line-height: 1em;
	min-height: 2em;
}


.fromSearch{
	display: inline-block;
	padding: 7px;

}

.searchBar.form-control{
	border-radius: 100px;
}

.movieCard{
	display: flex;
	
	
}

.movieCardPoster{
	height:  100%;
	overflow: hidden;
}

.movieCardPosterContent{
	margin: 35px;
	height: 42em;
}

.movieInfo{
	width: 100%;
	margin: 30px;
}

.movieTitre{
	color: #ddd;
	font-size: 75px;
}
.movieTitreVO{
	color: #ddd;
	margin-bottom: 1em;
}
.movieDate{
	color: #ddd;
	margin-bottom: 1em;
}
.movieOverview{
	color: #ddd;
	margin-bottom: 1em;
}

.moviesContent{
	margin-left: 2em;
}